.link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.block {
    width: 270px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 9px;
    text-align: center;
}
.block:hover{
    background: linear-gradient(rgb(153, 152, 152), black);
    border-radius: 4px;
    cursor: pointer;
}
